:root {
    --c1: #FFFFFF ;
    --c2: #F24444 ;
    --c3: #F0F2A7 ;
    --c4: #F2D1C9;
    --textHeader: #FFFFFF;
    --textTitle: #000000;
    --textSubtitle: #000000;
    --textC1: #FFFFFF;
    --textC2: #000000;
    --textC3: var(--c2);
    --accent1: #F2D1C9;
    --accent2: #F0F2A7;
    --accent3: #F24444;
    

}


html,body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Montserrat;
}

/* Internal link header fix */
.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

header {
    background: var(--c1);
    height: 80px;
    font-size: 1.5em;
    text-align: right;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

header a {
    color: var(--textHeader);
    font-weight: bold;
    text-decoration: none;
    margin-left: 2%;
    margin-right: 2%;
    vertical-align: -webkit-baseline-middle;
    line-height: 80px;
    transition: 1s;
}

header a:hover {
    color: var(--accent1);
    transition: 1s;
    border-top-width: 1;
    border-bottom-width: 1;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: var(--accent);
    padding-top: 5;
    padding-bottom: 5;
}

nav {
    margin-right: 4%;
    height: 80px;
}

#logo {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

#homeLink {
    border-radius: 30px;
}

#div1 { 
    background: linear-gradient(to bottom, #FFFFFF66, #F24444CC), url(images/h1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: overlay;
    margin-top: 80px;
    height: 750px;
    width: 100%;
    position: relative;
}

#div1 h1{
    color: var(--textTitle);
    font-size: 4em;
    text-align: center;
}

#div1 h2{
    color: var(--textSubtitle);
    font-size: 3em;
    text-align: center;
}

#textBox1 {
    width: 100%;
    margin: auto;
    display: inline-block;
    position: fixed;
    top: 20%;
    text-align: center;
}

#div2 {
    height: 800px;
    transition: 0.2s;
}

#block2 {
    background: var(--c2);
    height: 100%;
    width: 45%;
    float: right;
}

#textBox2 {
    margin-right: 20%;
}

#text2{
    margin-left: 10%;
}

#textBox2 h1 {
    color: var(--textC1);
    font-size: 4em;
    text-align: right;
    margin-bottom: 200px;
}

#textBox2 a{
    cursor: pointer;
    color: var(--textC1);
    font-weight: bold;
    text-decoration: none;
    font-size: 2.25em;
    transition: 0.3s;
    padding: 0;
    display: block;
    margin-bottom: 20px;
    text-align: right;
}

#text2 a:hover {
    color: var(--accent2);
    transition: 0.3s;
}

#text2 a.active {
    color: var(--accent2);
    font-size: 2.5em;
    transition: 0.3s;
    border-top-width: 2;
    border-bottom-width: 2;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: var(--accent2);
    padding-top: 5;
    padding-bottom: 5;
}

#hero2 {
    background: black no-repeat left center fixed;
    background-image: url(images/hero2/0.png);
    -webkit-background-size: 55%;
    -moz-background-size: 55%;
    -o-background-size: 55%;
    background-size: 55%;
    transition: 0.3s;
    height: 100%;
    width: 55%;
    float: left;
}

#div3 { 
    height: 800px;
}

#block3 {
    background: var(--c3);
    height: 100%;
    width: 45%;
    float: left;
}

#hero3 {
    background: black no-repeat right center fixed;
    background-image: url(images/hero3/0.png);
    -webkit-background-size: 55%;
    -moz-background-size: 55%;
    -o-background-size: 55%;
    background-size: 55%;
    transition: 0.3s;
    height: 100%;
    width: 55%;
    float: right;
}


#textBox3 h1 {
    color: var(--textC2);
    font-size: 4em;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 200px;
}

#text3 {
    margin-left: 5%;
    margin-right: 5%;
}

#text3 a{
    cursor: pointer;
    color: var(--textC2);
    font-weight: bold;
    text-decoration: none;
    font-size: 2.5em;
    transition: 0.3s;
    padding: 0;
    display: block;
    margin-bottom: 20px;
}

#text3 a:hover {
    color: var(--accent3);
    transition: 0.3s;
}

#text3 a.active {
    color: var(--accent3);
    font-size: 3em;
    transition: 0.3s;
    border-top-width: 2;
    border-bottom-width: 2;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: var(--accent);
    padding-top: 5;
    padding-bottom: 5;
}

#div4 { 
    background: url(images/h1.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px;
}

#block4a {
    width: 100%;
    height: 20%;
}

#block4 {
    background: rgba(68, 68, 68, 0.7);
    height: 50%;
    width: 100%;
}

#textBox4 {
    margin-right: 10%;
}

form {
    margin-left: 2em;
}

#textBox4 h1 {
    color: #DDDDDD;
    font-size: 3em;
    text-align: right;
    margin-bottom: 0;
    padding-top: 0.5em;
}

#div4 label {
    color: #DDDDDD;
    font-size: 1.2em;
    text-align: left;
    margin: 1em;
}

#div4 textarea {
    resize: none;
    width: 100%;
    margin: 1.5em;
    margin-top: 0.5em;
}

textarea::selection, input::selection {
    background: #BBBBBB;
}

#submit {
    border: 1px solid #DDDDDD;
    background: rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 50px;
    color: #EEEEEE;
    font-family: Montserrat;
    font-size: 1.2em;
    margin-left: 1.2em;
    transition: 0.3s;
}

#submit:hover {
    background: rgba(150, 150, 150, 0.3);
    transition: 0.3s;
    cursor: pointer;
}

footer {
    background: var(--c1);
    height: 150px;
    width: 100%;
    color: #AAAAAA;
    text-align: center;
}

footer a{
    color: var(--textHeader);
    text-decoration: none;
    font-size: 1.5em;
    transition: 0.3s;
    margin: 5%;
}

footer a:hover {
    color: var(--accent1);
    transition: 0.3s;
}

#space1 {
    width: 100%;
    height: 30px;
}

#space2 {
    width: 100%;
    height: 20px;
}

.show h1, .show h2{
    transition: 0.3s;
}

.hide, .hide h1, .hide h2, .hide a{
    color: rgba(0,0,0,0) !important;
    transition: 0.1s;
}

.disappear {
    top: -300px !important;
    transition-delay: 0.1s;
}

::selection {
    background: rgba(0, 0, 0, 0);
}

h1:hover, h2:hover {
    cursor: default;
}

@media only screen and (max-width: 1400px){
    #hero2 {
        -webkit-background-size: 55%;
        -moz-background-size: 55%;
        -o-background-size: 55%;
        background-size: 55%;
    }

    #hero3 {
        -webkit-background-size: 55%;
        -moz-background-size: 55%;
        -o-background-size: 55%;
        background-size: 55%;
    }
}

@media only screen and (max-width: 1000px){
    nav {
        display: none;
    }

    header {
        background: rgba(0, 0, 0, 0);
    }

    #logo {
        margin-left: 0px;
    }

    #div1 {
        margin-top: 0;
        width: 100%;
        height: 95%;
    }

    #textBox2 a, #textBox2 h1, #textBox3 a, #textBox3 h1 {
        text-align: center;
    }

    #textBox2 h1, #textBox3 h1 {
        margin-bottom: 50px;
    }

    #textBox2 {
        margin-right: 0%;
    }
    
    #text2 {
        margin-left: 0%;
    }

    #hero2, #hero3 {
        width: 100%;
        height: 400px;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
    }

    #textBox2 h2, #textBox3 h2 {
        margin-top: 0;
        font-size: 1em;
    }

    #text3 {
        margin-right: 0%;
    }

    #block2, #hero2, #hero3 {
        width: 100%;
        height: 400px;
    }

    #block3 {
        height: 500px;
        width: 100%;
    }

    form {
        margin-left: 0;
    }

}